<!DOCTYPE html>
<html>
   <head>
       <title>Live Transcription</title>
       <link rel="stylesheet" type="text/css" href="styles.css">
       <style>
            body {
                background-color: rgba(0, 0, 0,0.85);
            }
       </style>
   </head>
   <body>
        <div id="container">
            <p id="status">Connection status will go here</p>

            <div id="menu">
                <div style="text-align: right;">
                    <span title="Click to pause timer" class="menuitem" style="margin-right: 0.5em; display: inline-block;">
                        <div id="timer"></div>
                    </span>
                    <span title="Total characters" style="display: inline;">
                        <div id="counter"></div>
                    </span>        
                    <span title="Words per minute" style="display: inline;">
                        <div id="wpm"></div>
                    </span>
                </div>
            </div>
            <div id="transcript-container"></div>
        </div>
        <script src="script.js"></script>
    </body>
</html>